h1
{
    font-size: 20px;
    width:50%;
}

#controls{
    left:auto;
    right:auto;
    font-size: 17px;
    top:auto;
    bottom:0px;
    padding:0;
    background: rgba(50,50,50,.3);
}   

#info{
    font-size: 15px;
    width:50%;
    left:auto;
    right:0px;
    top:0;
    text-align: right;
    background: transparent;
}

#attr{
    display: none;
}

.button{
    margin:0;
    border-radius: 0;
    font-size: 15px;
    padding:auto;
    text-align:center;
    display: inline-flex;
    align-items: center; 
}

.dialogBox{
    width:100%;
	font-size:15px!important;
}
.ui-dialog{
    width:95%!important;
    padding:0px!important;
    border-width:0px;
}

.dialog{
    bottom:70px;
}

.test{
    display:none;
}