html {
	height: 100%;
	width:100%;
	margin:0px;
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
  }

body{  
    font-family: 'Raleway', sans-serif;
    font-size:15px;
	color:#ffffff;
	
	/*
	background-color: #0f0f0f;
	background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
	*/
	
	background-image: linear-gradient(to right top, #1c1c1c, #25272f, #283444, #234258, #0b526b);
	width:100%;
	height:100%;
	margin:0px;
	overflow: hidden;

}
 
h1 {
	position: absolute;
	left:5px;
	top: 5px;
	font-size:30px;
	z-index: 2;
	color: black;
	background-color: rgba(255,255,255,.5);
	padding:5px;
	border-radius: 15px;
	margin:0;

}
 
h3 {
    font-size:22px;
}
 
a{
	color:#006eb3;
	text-decoration: none;
}
#mapid{
    width: 100%; 
    height: 100%; 
	margin:0 auto;
	z-index:0 !important;
	border:0px solid #575757;
	border-radius: 0px;
	background: #fff;
}

#controls{
	z-index:1 !important;
	position: absolute;
	top: 10px; 
	right: 10px;
	display: flex;
	border:0px solid #ffffff;
	border-radius: 5px;
	padding: 10px;
	background-color: rgba(36, 36, 36, 0.0);
}
#info{
	position: absolute; 
	padding:5px;
	display: table;
	left:5px;
	top:55px;
	z-index: 5;
	color: #000;
	font-size: 18px;
	font-weight: bolder;
	background-color: rgba(255,255,255,.5);
	border-radius: 15px;
	text-align: left;
}
#attr{
	position: absolute;
	bottom: -10px;
	left: 10px;
	z-index: 6;
	color:#000;
	margin:0;
	padding:0;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip{
	color:#ffffff;
	opacity:.9;
	background: #333333;
	padding:2px;
}

.leaflet-popup-content-wrapper a,
.leaflet-popup-tip a{
	color:#85c8ff;
}

.leaflet-popup-content-wrapper .button{
	color:#fff;
	background-color: transparent;
	border: 1px solid #888888;
	margin: 0 auto;
	margin-top: 10px;
}

.button {
	background-color: rgba(255,255,255,.5);
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	margin: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 10px;
	border:0px solid #000000;
	font-size: 20px;
	text-decoration: none;
	transition-duration: 0.1s;
	font-weight: bolder;
}
.button:hover {
	background-color:#006eb3;
	color: #fff;
	transition-duration: 0.1s;
}
.button:active {
	position:relative;
	top:1px;
}

.dialogBox{
	z-index:2000 !important;
    font-family: 'Raleway', sans-serif!important;
	font-size:20px!important;
}
.ui-dialog{
	padding:0px!important;
}

#diagContent{
	margin-top: 10px!important;
}

.ui-dialog img{
	padding:0px!important;
	float: left!important;
	margin-right:20px!important;
	filter: hue-rotate(14deg);
}

.ui-dialog-titlebar{
    font-family: 'Raleway', sans-serif!important;
	font-size:15px!important;
	border-radius: 0px!important;
}

.ui-widget-header{
	color: #fff!important;
	background : #0a4364!important;
}

.ui-button{
	
	background : #ffffff!important;
	color:#575757!important;
	border-radius: 0px!important;
}

.ui-dialog-buttonpane{
	margin-top:0px!important;
	padding: 0px!important;
	border:0px!important;
	
}


.leaflet-marker-icon {
	transition-duration: 0.4s;
	background-color: #ffffff;
	border: 3px solid #002e53;
	border-radius: 20px;
	opacity:.7;
	box-sizing: border-box;
	box-shadow:  0 0 0 0px #006eb3;
	animation: idle 8s ease-in-out infinite forwards;
}

.leaflet-marker-icon:hover{
	transition-duration: 0.4s;
	opacity:1;
}

.leaflet-marker-icon:active{
	transition-duration: 0s;
	animation: blinker 1s ease-out infinite forwards;
	opacity:1;
}
@keyframes blinker {
	0% {
		background-color:#fff;
		box-shadow:  0 0 0 0px  #ff004c;
	}
	100% {
		background-color:#fff;
		box-shadow:  0 0 0 50px  transparent;
	}
  }

@keyframes idle {
80% {
	border: 3px solid #002e53;
	box-shadow:  0 0 0 2px #006eb3;
}
90%{
	border: 3px solid #ff006a;	
}
100% {
	background-color:#fff;
	border: 3px solid #002e53;
	box-shadow:  0 0 0 300px  transparent;
}
}

.tt{
	background: rgba(10,10,10,.6);
	color: #fff;
	width:20px;
	height:20px;
	border:0px;
	box-shadow: none;
	padding:0px;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
}

.leaflet-tooltip-left.tt::before {
  border-left-color: transparent;
}
.leaflet-tooltip-right.tt::before {
  border-right-color: transparent;
}


.tm{
	fill:#006eb3;
	transition: stroke .3s ease-in-out, stroke-opacity .3s ease-in-out, stroke-width .5s ease-in-out;
	stroke-opacity: 0;
	stroke: #fa004b;
}
.tm:hover{
	transition: stroke .3s ease-in-out, stroke-opacity .3s ease-in-out, stroke-width .3s ease-in-out;
	fill: #fa004b;
	stroke-width: 50;
	stroke: #fa004b;
	stroke-opacity: .1;
}

.tt_tm::before {
	border-left-color: transparent;
  }
.tt_tm::before {
	border-right-color: transparent;
}
.tt_tm{
	background: #333333;
	color: #fff;
	border: 0px solid black;
	border-right-color: transparent;
	margin-left: -40px;
	box-shadow: none;
}

.historyPoint{
	opacity:1;
	stroke-opacity: .0;
	fill: #3f3f3f;
	stroke: #2db2ff;
	transition: stroke .3s ease-in-out, stroke-opacity .3s ease-in-out, stroke-width .5s ease-in-out, fill .5s ease-in-out;

}
.historyPoint:hover{
	transition: stroke .3s ease-in-out, stroke-opacity .3s ease-in-out, stroke-width .5s ease-in-out, fill .5s ease-in-out;
	fill: #df0038;
	stroke-width: 15;
	stroke: #ff2d49;
	stroke-opacity: .5;
	opacity:1;
}

.historyPath{
	opacity:.2;
}

.leaflet-heatmap-layer{
	animation: .3s ease-in-out 0s 1 fadeIn; 
}

@keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }