<!DOCTYPE html>
<html>
<head>
	
	<title>Dashboard</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="{{css_url}}">
    <link rel="stylesheet" type="text/css" media='screen and (min-width: 200px) and (max-width: 400px)' href="{{css_mobile_url}}"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!--leaflet plugins-->
    <script src="{{heat_url}}"></script>

</head>
<body>


<h1> LoRa geolocation map </h1>
<div id="mapid"></div>
<script src="{{mapscript_url}}"></script>
<div id ="info"></div>
<div id="controls">
    <a class="button" id="MB" onclick="darkMode()" href="javascript:void(0)"> Light mode </a> <br/>
    <a class="button" id="MB" onclick="showMB()" href="javascript:void(0)"> Normal mode </a> <br/>
    <a class="button" id="OSM" onclick="showOSM()" href="javascript:void(0)"> OSM </a>
    <br/>
    <br/>
    <a class="button" id="updateLocation" onclick="updateGatewayLocations()" href="javascript:void(0)"> update GW locations </a>
</div>
<div id="attr"><p>Achille Dantz - 2019</p></div>

</body>
</html>
